extends layout
block content
    main.container(role='main')
        h2 You have selected following coffee
        .card.bg-light.mb-3(style='max-width: 18rem;')
            .card-header.h5.card-title #{currentCoffee.name}
            .card-body
                h6.card-title #{currentCoffee.flavours}
                p.card-text #{currentCoffee.description}
            ul.list-group.list-group-flush
                li.list-group-item= currentCoffee.origin.town + ', ' + currentCoffee.origin.state + ', ' + currentCoffee.origin.country
                li.list-group-item #{currentCoffee.price}
